* {
    -webkit-box-sizing:border-box;
    box-sizing:border-box;

}

html {
    font-size: 62.5%;
    margin: 0;
}

body {
    margin: auto;
    font-family: 'Inconsolata', monospace;
    font-size: 14px;
}

a {
    color: #000;
    padding: 4px
}

a:link {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    background: #eaeaea;
    padding: 4px;
    border: solid #000 1px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100000;
    width: 100%;
}

@media only screen and (max-width: 600px) {
    header {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        background: #eaeaea;
        padding: 4px;
        border: solid #000 1px;
    }
}

.main-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.mini-profile {
    width: 100%;
    text-align: center;
    border: solid #000 1px;
}

.project-holder {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    text-align: center;
    list-style: none;
}

.project {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-flex: 1;
    flex-shrink: 1;
    -ms-flex-negative: 1;
    flex-grow: 1;
    -ms-flex-positive: 1;
    flex-basis: 50%;
    -ms-flex-preferred-size: 50%;
    color: #fff;
    background-size: cover;
    min-height: 300px;
    background-position: center;
    position: relative;
    padding: 0 100px 0 100px;
    border: solid #000 1px;
}

@media only screen and (max-width: 600px) {
    .project {
        -ms-flex-negative: 1;
        flex-shrink: 1;
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    }
}

.project:hover .project-over {
    background: rgba(0,0,0,0.3);
    height: 100%;
    width: 100%;
    color: rgba(212,175,55,1);
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 100px 0 100px;
}

.project1 {
    background-image: url("https://images.pexels.com/photos/1393996/pexels-photo-1393996.jpeg?auto=compress&cs=tinysrgb&h=350");
}

.project2 {
    background-image: url("https://images.unsplash.com/photo-1536499657529-2d09e5c71539?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=ccc131c58f5da1e893e2605dda9de842&auto=format&fit=crop&w=500&q=60");
}

.project3 {
    background-image: url("https://images.unsplash.com/photo-1536506252322-a4cb9cae8655?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=79ac811fe55d39710f4d9d6cb2ac1d27&auto=format&fit=crop&w=500&q=60");
}

.project4 {
    background-image: url("https://images.unsplash.com/photo-1536559692556-79e8be88e8ab?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=97d54d56f7e8c363cda42b6651896f68&auto=format&fit=crop&w=500&q=60");
}

.project5 {
    background-image: url("https://cdn.pixabay.com/photo/2018/08/23/07/35/thunderstorm-3625405_960_720.jpg");
}

.project6 {
    background-image: url("https://cdn.pixabay.com/photo/2018/09/03/23/56/sea-3652697__340.jpg");
}

.project7 {
    background-image: url("https://images.freeimages.com/images/large-previews/1c9/maine-at-4-45-am-1370871.jpg");
}

.project8 {
    background-image: url("https://images.pexels.com/photos/773594/pexels-photo-773594.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
}

.about-me-holder {
    display: block;
    background: #eaeaea;
    border: solid #000 1px;
    padding: 0 4px 0 4px;
    height: 100%;
}

.about-me-holder:after {
    width: 100%;
    clear: both;
    display: block;
    content: ' ';
}

@media only screen and (max-width: 600px) {
    .about-me-holder {
        display: block;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        background: #eaeaea;
        border: solid #000 1px;
    }
}

.about-me {
    float: left;
}

.contact-info {
    float: right;
}

@media only screen and (max-width: 845px) {
    .about-me {
        margin: auto;
        float: none;
        text-align: center;
        padding: 0 4px 0 4px;
    }
}

@media only screen and (max-width: 845px) {
    .contact-info {
        margin: auto;
        float: none;
        text-align: center;
    }
}