* {
    border: red solid 1px;
}

html {
    font-size: 62.5%;
}

body {
    width: 1200px;
}

header {
    display: flex;
    justify-content: space-between;
}
.mini-profile {
    width: 100%;
    text-align: center;
}

.project-holder {
    display: flex;ß
    width: 100%;
}

.project {
    width: 50%;
    flex-wrap: wrap;
    align-items: baseline;
}